---
layout: default
---
<div class="home">
  <div class="full-hero hero-home">
    <div class="hero-content">
      <h1>Let's Build Stuff Together!</h1>
        <ul class="social-list">
          {% include social-links.html %}
        </ul>
    </div>
  </div>

  <div class="home-callout">
    <h1 class="callout-title">The Job Hunt</h1>
      <div class="callout-copy">
        <h3>Hi there!</h3>
        <p>
          I'm a self-taught software developer seeking my first job in the
          industry. I've been learning so much every day, and I can't wait to join
          a team a focus my attention on learning their tech stack and contributing
          to their goals.
        </p>
        <p>
          If you're looking to hire someone, I'd love to be considered! Please peruse
          my site, <a href="https://tiffanydenny.github.io">check out my resume,</a>
          and get in touch!
        </p>
    </div>
  </div>

  <div class="home-section">
    <h4>From the blog</h4>
    {% for post in site.posts limit:1 %}
      {% include post-excerpt.html %}
    {% endfor %}
  </div>

  <div class="home-section">
    <h2>Projects</h2>
    <p>
    I'm working on some things. Check them out!
    </p>

    <div class="bio-wrapper">
      <div class="bio-box">
        <img src="/images/lisoelm.png">
        <h3>
          <a href="https://serene-meadow-33935.herokuapp.com/">ELM APP
          </a>
        </h3>
        <a href="https://github.com/tiffanydenny/sample_app" class="social-link">
          <i class="fab fa-github"></i>
        </a>
        <div class="bio-copy">
          <p>
            An app for Embody Love Movement Facilitators
          </p>
        </div>
      </div>
        <div class="bio-box">
          <img src="/images/sitepic2copy.jpg">
          <h3>This Site!</h3>
          <a href="https://github.com/tiffanydenny/tiffanydenny.github.io" class="social-link">
            <i class="fab fa-github"></i>
          </a>
          <div class="bio-copy">
            <p>
              I'm making this site for practice with HTML, CSS, and a teeny bit of JavaScript
            </p>
          </div>
        </div>
      <div class="bio-box">
        <img src="/images/sator_squarecopy.jpg">
        <h3>
          <a href="https://thawing-ravine-94296.herokuapp.com/palindrome">Palindrome?
          </a>
        </h3>
        <a href="https://github.com/tiffanydenny/tdenny_palindrome" class="social-link">
          <i class="fab fa-github"></i>
        </a>
        <div class="bio-copy">
          <p>
            I made this one during a Ruby tutorial, but it's a nerdy bit of fun that really tickles me.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
